#Global ignores
HELP.md
.DS_Store
.env
docker-compose.yml
Dockerrun.aws.json
app.zip

# Ignore all Gradle-related files
**/.gradle
**/build/
!**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite) ignores
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA ignores
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out/
!**/src/main/**/out/
!**/src/test/**/out/

# Java build artifacts (for all backend services)
backend/**/target/
backend/**/.mvn/
backend/**/*.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
